/* my first css */

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffcc;
}

img {
    border: 10px solid green;
}

h1 {
    border: 5px dotted red;
}

blockquote {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}

cite {
    font-size: 2rem;
}

/*Classes for targeting user-specified HTML elements*/
.bigbold {
    font-weight: bold;
    font-size: 1.3rem;
}

/*In css last code always wins, so if there are two different ex.border code, the one written later in the higher code line number is displayed*/

/*link pseudo-classes*/
/*Descendant Selectors: 
- Even more specific: ul a:link <- means for all unvisited links located inside an unordered list, do the following*/

ul a:link {
    font-weight: bold;
    text-decoration: none;
    color: blue;
    font-size: 2rem;
}

a:visited {
    color: green;
    font-weight: normal;
}

a:hover {
    color: orange;
    text-decoration: underline;
    background-color: white;
}

/*first add class in the harvard link a tag in html
- for any a tag that has a class of harvard inside of it,
whatever additional part with it (link or visited or hover or etc) and write the style that way*/
a.harvard{
    color: maroon;
}

/*Grouping selectors*/ 
h2, h3, .bigbold, a:link{
    color: orange;
}